.pets{
    background: var(--light-bg);
 }
 
 .pets .slide{
    text-align: center;
    padding:4rem 2rem;
    border-radius: .5rem;
    transform: scale(.9);
    opacity: .5;
    margin-bottom: 4rem;
    cursor: pointer;
 }
 
 .swiper-pagination-bullet-active{
    background: var(--peru);
 }
 
 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom:0;
 }
 
 .pets .swiper-slide-active{
    transform: scale(1);
    opacity: 1;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
 }
 
 .pets .slide img{
    height: 17rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 17rem;
 }
 
 .pets .slide h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:var(--black);
 }
 
 
 .pets .slide .price{
    font-size: 2.5rem;
    color:var(--peru);
 }
 
 .pets-preview-container{
    background: var(--dark-bg);
    position: fixed;
    top:0; left:0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .pets-preview-container .pets-preview{
    text-align: center;
    background: var(--white);
    padding:3rem 2rem;
    border-radius: .5rem;
    display: none;
    width: 35rem;
 }
 
 .pets-preview-container .pets-preview.active{
    display: inline-block;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) backwards;
 }
 
 .pets-preview-container .pets-preview img{
    height: 13rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 13rem;
 }
 
 .pets-preview-container .pets-preview h3{
    padding:1rem 0;
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .pets-preview-container .pets-preview p{
    font-size: 1.6rem;
    color:var(--light-black);
    padding:1rem 0;
    line-height: 2;
 }
 
 .pets-preview-container .pets-preview .price{
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: .5rem;
 }
 
 #close-preview{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 6rem;
    cursor: pointer;
    color:var(--white);
 }
 
 #close-preview:hover{
    transform: rotate(90deg);
 }